<p-card>
  <ng-template #header>
    <p-avatar shape="circle" label="{{user[0].toUpperCase()}}" /><!-- Ptet essayer de gérer des photos de profil plus tard -->
    <p id="username">{{user}}</p>
  </ng-template>
  <p id="post-content">{{text}}</p>
  <img *ngIf="imageurl"  alt="image" [src]="imageurl">
  <ng-template #footer>
    <p-button icon="pi pi-heart" [rounded]="true" [hidden]="postLiked" (onClick)="likePressed()"></p-button>
    <p-button icon="pi pi-heart-fill" [rounded]="true" [hidden]="!postLiked" (onClick)="likePressed()"></p-button>
    <p-button icon="pi pi-comment" [rounded]="true"></p-button>
  </ng-template>
</p-card>
