<div class="two-column-layout">

  <app-vertical-menu></app-vertical-menu>
  <div id="reglages">
    <h1>Super réglages de fou</h1>

    <div class="informations">
      <h2>Mes informations</h2>

      <input pInputText placeholder="Display name" value="{{user?.displayname}}" [formControl]="displayNameText">
      <p-button label="Change name" (click)="onChangeDisplayName()"></p-button>
      <br>

      <input pTextarea placeholder="Profile description" value="{{user?.settings?.description}}" [formControl]="descriptionText">
      <p-button label="Change description" (click)="onChangeDescription()"></p-button>
      <br>

      <h2>Interests</h2>
      <input pInputText placeholder="Add interest" [formControl]="interestText">
      <p-button label="Add" (onClick)="onAddInterest()"></p-button>
      <div class="interests">
          <p-chip *ngFor="let tag of interests" [label]="tag.interest" [removable]="true" (onRemove)="onRemoveInterest(tag)"></p-chip>
      </div>
    </div>



  </div>
</div>

