<div class="two-column-layout">
  <app-vertical-menu></app-vertical-menu>

  <div class="friend-list">
    <app-friendlist-item
      *ngFor="let friend of friends"
      displayName="{{friend.displayname}}"
      lastActivity="Dernier message il y a 20 minutes"
      (click)="setCurrentTarget(friend.username)"
    >
    </app-friendlist-item>
  </div>

  <div class="chat">
    <div class="chat-header">
      <p-avatar label="{{currentTargetUsername}}"></p-avatar>
      <p class="chat-username">{{currentTarget}}</p>
    </div>
    <div class="chat-messages">
<!--      <app-message messageText="Super message de fou malade" imageLink="assets/images/dog.webp"></app-message>-->
<!--      <app-message class="self" fromSelf="true" messageText="Super message de fou malade"></app-message>-->
      <app-message *ngFor="let message of messages"
                   [messageText]="message.text"
                   [imageLink]="message.image"
                   [fromSelf]="currentUsername === message.sender_username"
                   [ngClass]="{'self': currentUsername === message.sender_username}">
      </app-message>
    </div>
    <div id="input-bar">
      <input pInputText placeholder="Entrez votre message" [formControl]="messageText" (keyup.enter)="postMessage()">
      <p-button icon="pi pi-plus" (click)="postMessage()"/>
    </div>
  </div>
</div>
