.three-column-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#vertical-menu,
#search-suggestion {
  flex: 1;
  box-sizing: border-box;
}

#search-suggestion {
  padding: 1rem;
}

#content {
  flex: 2.5;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 1rem;
}

#vertical-menu {
  width: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#vertical-menu div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 9999px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

#vertical-menu div:hover {
  background-color: #f7f9f9;
}

#vertical-menu i {
  font-size: 24px;
  margin-right: 15px;
  color: #0f1419;
}

#vertical-menu p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #0f1419;
}

#over_label {
  width: 100%;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 9999px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.suggestion p {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  flex-grow: 1;
}

.suggestion p-button {
  margin-left: 10px;
}

