<div class="three-column-layout">
  <app-vertical-menu></app-vertical-menu>

  <div id="content">
<!--    <app-post *ngFor="let post of posts" [displayName]="users[post.username].displayname" [user]="post.username" [text]="post.text" [imageurl]="post.image"></app-post>-->
    <app-feed></app-feed>
  </div>


  <div id="search-suggestion">
<!--    <p-floatlabel variant="on">-->
<!--      <input pInputText id="over_label" autocomplete="off" (keyup.enter)="rechercher()"/>-->
<!--      <label for="over_label"><i class="pi pi-search"></i> Search</label>-->
<!--    </p-floatlabel>-->
    <app-searchbar></app-searchbar>

    <br>

    <app-user-suggestion></app-user-suggestion>

    <app-post-creation-popup></app-post-creation-popup>

  </div>
</div>
