.three-column-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#vertical-menu,
#search-suggestion {
  flex: 1;
  box-sizing: border-box;
}

#search-suggestion {
  padding: 1rem;
}

#content {
  flex: 2.5;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 1rem;
}

#over_label {
  width: 100%;
}


