<div class="three-column-layout">
  <app-vertical-menu></app-vertical-menu>

  <div id="content">
    <app-friendlist-item
      *ngFor="let i of [].constructor(20)"
      username="TEST USER"
      lastActivity="Dernier message il y a 20 minutes">
    </app-friendlist-item>
  </div>

  <div id="search-suggestion">
    <p-floatlabel variant="on">
      <input pInputText id="over_label" autocomplete="off" (keyup.enter)="rechercher()"/>
      <label for="over_label"><i class="pi pi-search"></i> Search</label>
    </p-floatlabel>

    <br>

    <app-user-suggestion></app-user-suggestion>

  </div>
</div>
