<div class="three-column-layout">
  <app-vertical-menu></app-vertical-menu>

  <div id="content">

    <div id="infos-profil">
      <div class="profile-header">
        <p-avatar></p-avatar>
        <div class="profile-name">
          <span class="username">
            {{ user?.displayname }}
            <span id="username-gray">{{user?.username }}</span>
          </span>
          <p id="description">Super description test de fou malade, là vraiment c'est une dinguerie</p>
        </div>
      </div>

      <div class="subscribe-row">
        <a [routerLink]="['/amis', user?.username]"><p class="friends-link">Friends : {{friends?.length || 0}}</p></a>
        <!--   TODO : faire une fonction pour que ça aille sur les amis du user en question et pas du user connecté     -->
        <p-button *ngIf="otherUser" label="S'abonner"></p-button>
      </div>
    </div>

    <app-feed [username]="user?.username"></app-feed>
  </div>

  <div id="search-suggestion">
    <app-searchbar></app-searchbar>

    <br>

    <app-user-suggestion></app-user-suggestion>

  </div>
</div>

